<% if logged_in? %>
  <script type="text/javascript">
    CURRENT_USER_ID = <%= current_user.id %>
  </script>
  <div id="content">
<% end %>
</div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
