<div class="formwrap">
  <h1> Sign Up! </h1>

  <br/>
  <br/>
  <form action="<%= users_url %>" method="post">
    <%= auth_token %>

    <label class="signing"> Username </label>
    <br/>
    <input class="signing" type="text" name="user[username]" value=""/>
    <br/>
    <br/>
    <label class="signing"> Password </label>
    <br/>
    <input class="signing" type="password" name="user[password]" value=""/>
    <br/>
    <br/>

    <input class="button" type="submit" value="Sign Up"/>

  </form>

  <br/>

  <div id="signin-message">
  Already have an account? <a href= "<%= new_session_url%>" > Sign In </a>
  </div>
</div>
