.Follow {
  float: right;
  width: 100px;
  height: 30px;
  border-radius: 1%;
  outline: none;
  margin-top: -5px;
}

.Follow:hover {
  cursor: pointer;
}

.Unfollow {
  float: right;
  width: 100px;
  height: 30px;
  border-radius: 1%;
  outline: none;
  margin-top: -5px;
  background-color: green;
}

.Unfollow:hover {
  cursor: pointer;
}
