.comments-list {
  width: inherit;
  height: 307px;
  border: 1px solid black;
  overflow-y: scroll;
  border-radius: 2px;
}


.comment-wrap {
  margin-top: 5px;
  width: inherit;
  height: 75px;
  border: 1px solid black;
  border-radius: 5px;
}

.nested-comments {
  margin-left: 30px;
}

.nested-comments > .comment-form {
  margin-left: 40px;
}

.comment-author {
  margin-left: 30px;
}

.comment-body {
  margin-left: 40px;
}
