/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_tree .
 *= require_self
 */

#content {
  margin-top: 5px;
  min-height: 1000px;
  background-color: #FBDFDF;
}

header {
  margin-left: 20%;
}

.head {
  margin-left: 675px;
}

.buttondiv {
  text-align: center;
}
.button {
  text-align: center;
  padding: 10px;
}

h1 {
  margin-left: 20%;
  margin-top: -55px;
  background-color: #FFFFFF;
}

#searchbar {
  margin-left: 300px;
}

#search {
  margin-left: 10px;
}

.border {
  background-color: #FFFFFF;
  margin-left: -20%;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

h2 {
  text-align: center;
}

h3.heading {
  padding-top: 50px;
  padding-bottom: 25px;
  margin-left: 350px;
}

#signup-message a{
  color: #75FA42;
}

#signin-message a{
  color: #FF5107;
}

.signing {
  color: #666699;
  margin: auto;
  width: 200px;
  padding: 2px;
  border: 1px solid black;
  height: 15px;
}

.button {
  width: 150px;
  margin: auto;
}

.formwrap {
  width:30%;
  margin: auto;
  margin-top: 200px;
}

#homewrapper {
  margin-left: 20%;
}

.suggest {
  list-style: none;
  border: 2px solid black;
  width: 600px;
  margin: auto;
  margin-left: 100px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 20px;
  background-color: #FFFFFF;
}

.follow {
  float: right;
  width: 50px;
  height: 30px;
  margin-top: -10px;
  border-radius: 10%;
}
