/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#content {

}

.button {
  text-slign: center;
}

h1 {
  text-align: center;
}

#signup-message a{
  color: #75FA42;
}

#signin-message a{
  color: #FF5107;
}

.signing {
  color: #666699;
  margin: auto;
  width: 200px;
  padding: 2px;
  border: 1px solid black;
  height: 15px;
}

.button {
  width: 150px;
  margin: auto;
}

.formwrap {
  width:30%;
  margin: auto;
}

nav {
  background: rgba(179,220,237,1);
  background: rgba(239,197,202,1);
  background: -moz-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,197,202,1)), color-stop(29%, rgba(210,75,90,1)), color-stop(62%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
  background: -webkit-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -o-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1 );
  width: 100px;
  height: 1000px;
  float: left;
  position: fixed;
  /*position: relative;*/
}

.navbar {

  float: right;
  list-style: none;
  width:100%;
}

.navbar > li:first-child {
    margin-top: 150px;
}

.navbar > li {
  width: 90%
  float: left;
  padding-left: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.navbar >li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
