#signup-message a{
  color: #75FA42;
}

#signin-message a{
  color: #FF5107;
}

.signing {
  color: #666699;
  margin: auto;
  width: 200px;
  padding: 2px;
  height: 15px;
}

input.signing {
  height: 25px;
  font-size: 18px;
}

.formwrap {
  width:30%;
  margin: auto;
  margin-top: 100px;
}
