.auth-wrap {
  width: inherit;
  position: absolute;
  margin: 0;
  background: url("http://res.cloudinary.com/catstagram/image/upload/v1445459344/2012_Suedchinesischer_Tiger_yxztht.jpg");
  background-size: cover;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
  left: 0;
  top: 0;
}

#signup-message a{
  color: #75FA42;
}

#signin-message a{
  color: #FF5107;
}

.signing {
  color: #666699;
  margin: auto;
  width: 200px;
  padding: 2px;
  height: 15px;
}

input.signing {
  height: 25px;
  font-size: 14px;
}

.formwrap {
  width: 25%;
  margin: auto;
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
  border-radius: 5%;
  padding: 50px;
  padding-right: 0px;
}

#guest-button {
  width: 37px;
  padding-left: 0;
  padding-right: 0;
  border: none;
  outline: none;
  background-color: inherit;
  background: inherit;
  color: cornflowerblue;
  text-align: center;
}

#guest-button:hover {
  text-decoration: underline;
}
