.media-show {
  padding-top: 70px;
  width: 1200px;
  margin: auto;
}

.media-show > img {
  width: 640px;
  height: 480px;
  float: left;
  border: 1px solid black;
  border-radius: 5%;
}

.media-comments {
  float: right;
  width: 550px;
  height: 480px;
}
