nav {
  margin-top: -70px;
  background: rgba(179,220,237,1);
  background: rgba(239,197,202,1);
  background: -moz-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,197,202,1)), color-stop(29%, rgba(210,75,90,1)), color-stop(62%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
  background: -webkit-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -o-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: -ms-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 29%, rgba(186,39,55,1) 62%, rgba(241,142,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1 );
  width: 100%;
  height: 80px;
  position: fixed;
  text-align: center;
  border-bottom: 1px solid #21D2D2
}
.navbar {
  list-style: none;
  width: 900px;
  margin: auto;
}

.navbar > li {
  width: 25%;
  float: left;
  padding-top: 10px;
  margin-top: 10px;
  margin-right: 12.5%;
}

.navbar >li:last-child {
  margin-right: 0;
}

.navbar >li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.navbar >li:last-child:hover {
  color: black;
  cursor:none;
}

.navbar > li > span:hover {
  color: cornflowerblue;
  cursor: pointer;
}

#searchbar {
  width: 100%;
  margin-top: -3px;
  position: relative;
  cursor: default;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#searchglass {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

#searchbar > input {
  float: left;
  text-align: center;
  border: none;
}

#searchbar > input:focus {
  text-align: left;
  outline: none;
}

.dropdowner {
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

.dropdowner > li {
  border: 1px solid #ccc;
  width: 204px;
  color: #000;
  background-color: #fff;
  text-align: left;
  padding-left: 10px;
}

.dropdowner > li:first-child {
  margin-top: 50px;
}

#searchbar>input:focus ~ .dropdowner{
    opacity: 1;
}

li:hover .dropdowner{
  display:block;
}

.dropdowner > li:hover {
  background-color: #eee;
  cursor: pointer;
}
