
.profile {
  padding-top: 50px;
  width: 600px;
  margin: auto;
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 30px;
  border: 1px solid black;
}

.media-list {
  width: 800px;
  margin: auto;
}

.media-list > li {
  width: 30%;
  border: 1px solid black;
  float: left;
  height: 200px;
  margin: 1%;
}

.media-list > li:first-child {
  margin-top: 1%;
}

.user-show-img {
  height: 200px;
}

.user-show-img:hover {
  cursor: pointer;
}
