<!DOCTYPE html>
<html>
<head>
  <title>Catstagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script src=http://widget.cloudinary.com/global/all.js>
</script>

<%= render "layouts/errors" %>

<%= yield %>


</body>
</html>
